<div _ngcontent-rvs-c80 class="container">
    <div class="row">
        <div class="col-md-6 ct1">
            <img _ngcontent-rvs-c69 src="../../../assets/img/homeMedical.svg" class="img-fluid d-sm-block">
        </div>
        <div class="col-md-6 ct2">
            <h1>Cuide da sua saúde sem sair de casa
                <h6>Telemed Saúde inclusiva: conectando pacientes a profissionais de saúde virtualmente</h6>
            </h1>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div _ngcontent-rvs-c80 class="container">
    <div class="row">
        <div class="col-md-6 ct2">
            <h1>Consultas por vídeo chamadas
                <h6>Suas consultas serão online, lhe proporcionando mais conforto, praticidade e agilidade em seu
                    atendimento</h6>
            </h1>
        </div>
        <div class="col-md-6 ct1">
            <img _ngcontent-rvs-c69 src="../../../assets/img/homeVideo.svg" class="img-fluid d-sm-block">
        </div>
    </div>
</div>

<app-cards></app-cards>

<mat-divider></mat-divider>

<app-duvidas></app-duvidas>

<app-footer></app-footer>