<div class="duvidas container">
  <h2>Dúvidas</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="accordion" id="accordionExample">

          <div class="accordion-item">
            <h3 class="accordion-header" id="dv1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1"
                aria-expanded="false" aria-controls="collapseThree">
                Item #1
              </button>
            </h3>
            <div id="c1" class="accordion-collapse collapse" aria-labelledby="dv1" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                texto
              </div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h3 class="accordion-header" id="dv2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2"
                aria-expanded="false" aria-controls="collapseThree">
                Item #2
              </button>
            </h3>
            <div id="c2" class="accordion-collapse collapse" aria-labelledby="dv2" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                texto
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h3 class="accordion-header" id="dv3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c3"
                aria-expanded="false" aria-controls="collapseThree">
                Item #3
              </button>
            </h3>
            <div id="c3" class="accordion-collapse collapse" aria-labelledby="dv3" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                texto
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h3 class="accordion-header" id="dv4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c4"
                aria-expanded="false" aria-controls="collapseThree">
                Item #4
              </button>
            </h3>
            <div id="c4" class="accordion-collapse collapse" aria-labelledby="dv4" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                texto
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">

        <div class="accordion" id="accordionExample">

          <div class="accordion-item">
            <h3 class="accordion-header" id="dv5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c5"
                aria-expanded="false" aria-controls="collapseThree">
                Item #5
              </button>
            </h3>
            <div id="c5" class="accordion-collapse collapse" aria-labelledby="dv5" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                texto
              </div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h3 class="accordion-header" id="dv6">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c6"
                aria-expanded="false" aria-controls="collapseThree">
                Item #6
              </button>
            </h3>
            <div id="c6" class="accordion-collapse collapse" aria-labelledby="dv6" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                texto
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h3 class="accordion-header" id="dv7">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c7"
                aria-expanded="false" aria-controls="collapseThree">
                Item #7
              </button>
            </h3>
            <div id="c7" class="accordion-collapse collapse" aria-labelledby="dv7" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                texto
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h3 class="accordion-header" id="dv8">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c8"
                aria-expanded="false" aria-controls="collapseThree">
                Item #8
              </button>
            </h3>
            <div id="c8" class="accordion-collapse collapse" aria-labelledby="dv8" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                texto
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>