<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <img class="logo" src="../assets/img/LogoSvg.svg" alt="logoTelemed" routerLink="dashboard">
        </header>

        <nav class="nav flex-column">
            <a class="nav-link" aria-current="page"><a style="font-family: 'Material Icons'; font-size: 26px;"></a></a>
            <a class="nav-link active" aria-current="page" href="#"><a style="font-family: 'Material Icons'; font-size: 26px;">home</a> Inicio</a>
            <a class="nav-link" href="/dashboard"><a style="font-family: 'Material Icons'; font-size: 26px;">home</a> Dash 2</a>
            <a class="nav-link" href="/dashboard"><a style="font-family: 'Material Icons'; font-size: 26px;">home</a> Dash 3</a>
        </nav>
    </div>
    <!-- Content -->
    <div id="content">
        <a style="text-decoration: none;" href="/dashboard">
            <div class="container">
                <a class="consulta" href="/dashboard">Nova <br> Consulta</a>
                <a class="consultaIcon" href="/dashboard">add_circle</a>
             </div>
        </a>
        
    </div>
</div>