/* Toggle Styles */

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav {
    text-align: center;
}

.nav-link {
    align-items: center;
    display: flex;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #F9F9F9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #F9F9F9;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #fff;
}

#sidebar .nav a {
    background: none;
    color: #111111;
    font-size: 14px;
    padding: 16px 24px;
}

#sidebar .nav a:hover {
    background: none;
    color: #ECEFF1;
}

#sidebar .nav a i {
    margin-right: 16px;
}

.container {
    background-color: #7749F8;
    position: absolute;
    border-radius: 6px;
    width: 245px;
    height: 95px;
    left: 344px;
    top: 129px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.consulta {
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.consultaIcon {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-decoration: none;
    color: #fff;
}