<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Atendimento</div>
                <div class="card-body">
                    <p class="card-text">Consultas 100% online para proporcionar mais conforto e acessibilidade para
                        todos.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Suporte</div>
                <div class="card-body">
                    <p class="card-text">Nosso chat de atendimento virtual está 24 horas disponível.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Acessibilidade</div>
                <div class="card-body">
                    <p class="card-text">Interprete de libras disponível para todas as consultas.</p>
                </div>
            </div>
        </div>
    </div>
</div>